<?xml version="1.0"?>
<config>
    <modules>
        <MagicToolbox_MagicZoom>
            <version>4.4.29</version>
        </MagicToolbox_MagicZoom>
    </modules>
    <admin>
        <routers>
            <magiczoom>
                <use>admin</use>
                <args>
                    <module>MagicToolbox_MagicZoom</module>
                    <frontName>magiczoom</frontName>
                </args>
            </magiczoom>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <magictoolbox translate="title" module="magiczoom">
                <title>Magic Toolbox</title>
                <sort_order>300</sort_order>
                <children>
                    <magiczoom translate="title" module="magiczoom">
                        <title>Magic Zoom settings</title>
                        <sort_order>10</sort_order>
                        <action>magiczoom/adminhtml_settings/index</action>
                    </magiczoom>
                </children>
            </magictoolbox>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <magictoolbox>
                            <title>Magic Toolbox</title>
                            <sort_order>300</sort_order>
                            <children>
                                <magiczoom>
                                    <title>Magic Zoom settings</title>
                                    <sort_order>10</sort_order>
                                </magiczoom>
                            </children>
                        </magictoolbox>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <magiczoom>
                    <file>magiczoom.xml</file>
                </magiczoom>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <magiczoom>
                    <file>magiczoom.xml</file>
                </magiczoom>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <magiczoom>
                <class>MagicToolbox_MagicZoom_Model</class>
                <resourceModel>magiczoom_mysql4</resourceModel>
            </magiczoom>
            <magiczoom_mysql4>
                <class>MagicToolbox_MagicZoom_Model_Mysql4</class>
                <entities>
                    <settings>
                        <table>magiczoom</table>
                    </settings>
                </entities>
            </magiczoom_mysql4>
        </models>
        <resources>
            <magiczoom_setup>
                <setup>
                    <module>MagicToolbox_MagicZoom</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magiczoom_setup>
            <magiczoom_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magiczoom_write>
            <magiczoom_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magiczoom_read>
        </resources>
        <blocks>
            <magiczoom>
                <class>MagicToolbox_MagicZoom_Block</class>
            </magiczoom>

            <catalog>
                <rewrite>
                    <product_new>MagicToolbox_MagicZoom_Block_Product_New</product_new>
                </rewrite>
                <rewrite>
                    <product_view_options_type_select>MagicToolbox_MagicZoom_Block_Product_View_Options_Type_Select</product_view_options_type_select>
                </rewrite>
            </catalog>

            <!--<page>
                <rewrite>
                    <html_head>MagicToolbox_MagicZoom_Block_Html_Head</html_head>
                </rewrite>
            </page>-->
        </blocks>
        <helpers>
            <magiczoom>
                <class>MagicToolbox_MagicZoom_Helper</class>
            </magiczoom>
        </helpers>

    </global>
</config>
